{% extends 'studenthub/base.html' %}
{% load static %}
{% block content %}
<head>
  <link rel="stylesheet" href="{% static '/searchPage.css' %}">
</head>
    <div className="Page">  
         
  
      <div class="SearchPage">
          <h1> Search a Course </h1>
          <div class = "test">
            <form method="POST" action="">
              
                <div className="SearchCoursesBar">
                  <label for="search-course"><b>Course Code</b></label>
                  <input name="course" id="searchCourses" type="text" required>
                  <button type="search"> Search </button> 
                </div>
            </form>
          </div>
         
        <div class = "test">
         <div class="course-list">
          {% for course in courseList %}
          <li><a href ="/coursePage/{{course}}">{{ course.courseName }} </a>
          </li>
          {% endfor %}
         </div>
        </div>

      </div>
      <br>
      {% if submitted %}
      
          <p>Your course request was submitted!</p>
        
        
      {% else %}
      
        <div class = "test">
          <div>Dont see what you're looking for? Request to have it added:</div>
        </div>
        
        
      
        <form action="" method="POST">
         
          <div class = "test">
            <div> <input type=text  name="course" required></div>
            <div> <input type="submit" value="Submit" class="btn btn-secondary"></div>
          </div>
        {% endif %}
        

        
      </form>
      
      
        
    </div>
        
          
      </div>
  
    </div>

{% endblock %}
