{% extends 'studenthub\base.html' %}
    {% block content %}
    <div className="Page">  
    <h1>Welcome to Student Hub</h1>
  
        <div className="login">
          <div> Please click the button to sign in to your account </div>
          <a href = "{% url 'signInPage' %}">
          <button className="SignIn">SignIn</button>
          </a>
                
        </div>

        <div className="Register">
            <div> Please click the button to register for the Student Hub </div>
            <a href = "{% url 'registerPage' %}">
            <button className="Register">Register</button>
            </a>
                  
          </div>
      </div>
      {% endblock %}
