{% extends 'studenthub/base.html' %}
{% block content %}

{%load static %}
<link rel="stylesheet" href="{% static 'signinStyle/signin.css' %}">
<img src="{% static 'images/UofC-Logo.jpg' %}" alt="UofC-Logo">

    <div class="Page">  
  
        <div class="signIn">
          <h1> Login </h1>

          <form method="POST" action="">
            {% csrf_token %}
              <div class="UCID-Bar">
                <label for="ucid-input"><b>UCID</b></label>
                <input name="username" id="ucid-input" type="text" required>
              </div>
              <div class="Password-Bar">
                <label for="password-input"><b>Password</b></label>
                <input name="password" id="password-input" type="password" required>
              </div>
              <div> <button type="submit"> Login </button> </div>

              <div class="container_register">
                <p>Don't have an account? <a href="{% url 'registerPage' %}">Register now</a></p>
              </div>
          </form>
        </div>
  
      </div>
      
{% endblock %}
