{% extends 'studenthub\base.html' %}
{% block content %}
    <div className="Page">  
         
  
      <div className="SearchPage">
          <h1> Search Page </h1>
          <form method="POST" action="">
            {%csrf_token%}
              <div className="SearchCoursesBar">
                <label for="search-course"><b>Course Name</b></label>
                <input name="course" id="searchCourses" type="text" required>
              </div>

              <div> <button type="search"> Search </button> </div>
          </form>
        
         
          {% for course in courseList %}
            <li>{{ course.courseName }}</li>
            
          {% endfor %}
          
      </div>
  
    </div>

{% endblock %}
