<!doctype html>
<html lang = "en">
  <head>
    <meta charset="UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <title></title>
  </head>
  <body>
    <div className="Page">  
    <h1>Welcome to Student Hub</h1>
  
        <div className="login">
          <div> Please click the button to sign in to your account </div>
          <a href = "{% url 'signInPage' %}">
          <button className="SignIn">SignIn</button>
          </a>
                
        </div>

        <div className="Register">
            <div> Please click the button to register for the Student Hub </div>
            <a href = "{% url 'registerPage' %}">
            <button className="Register">Register</button>
            </a>
                  
          </div>
  
      </div>
  </body>
    
</html>