{% extends 'studenthub\base.html' %}
{% block content %}
    <div className="Page">  
  
        <div className="signIn">
          <div> LoginPage </div>
          <div className="signInImage"><img src="UofC-Logo.jpg" alt="UofC-Logo"></div>

          <form method="POST" action="">
            {%csrf_token%}
              <div className="UCID-Bar">
                <label for="ucid-input"><b>UCID</b></label>
                <input name="username" id="ucid-input" type="text" required>
              </div>
              <div className="Password-Bar">
                <label for="password-input"><b>Password</b></label>
                <input name="password" id="password-input" type="password" required>
              </div>
              <div> <button type="submit"> Login </button> </div>
          </form>
          
          
      
        </div>
  
      </div>
      
{% endblock %}
