{% extends 'studenthub\base.html' %}
{% block content %}
    <div className="Page">  
     
  
      <div className="CoursePage">
          <h1> Course Page </h1>
          
            <div className="CourseName">
              <p><strong>Course Name : </strong>{{ courseName }}</p>     
            </div>

            <div className="CourseProfessors">
              <p><strong>Course Professors :</strong>
                {% for prof in courseProfessors.all %}
                  
                  <li>{{ prof }}
                    <div className="EmailAddress">
                      <p>Email Address : {{ prof.profEmailAddress }}</p>
                    </div>
                  </li>
              
                {% endfor %}
              </p>
                  
            </div>

            <div className="CourseName">
              
              <p><strong>Course Overview :</strong> {{ courseSummary }}</p>     
            </div>

            <div className="CourseTutors">
              <p><strong> Tutors : </strong>
                {% for tutors in courseTutors.all %}
                  
                  <li>{{ tutors }}
                    <div className="EmailAddress">
                      <p>Email Address : {{ tutors.tutorEmailAddress }}</p>
                    </div>
                  </li>
              
                {% endfor %}
              </p>     
            </div>

            <div className="CourseComments">
              <p><strong>Course Comments : </strong>
                {% for comments in courseComments.all %}
                  
                  <li>{{ comments.courseComment }} : {{ comments.commenterName }}</li>
              
                {% endfor %}
              </p>     
            </div>
          
          
      </div>
  
    </div>

{% endblock %}
