{% extends 'studenthub\base.html' %}
{% block content %}
    <div className="Page">  
     
  
      <div className="CoursePage">
          <h1> Course Page </h1>
          
            <div className="CourseName">
              <p><strong>Course Name : </strong>{{ courseName }}</p>     
            </div>

            <div className="CourseProfessors">
              <p><strong>Course Professors :</strong>
                {% for prof in courseProfessors.all %}
                  
                  <li><a href="/profPage/{{prof}}/{{prof.profID}}">{{ prof }} </a> 
                  </li>
              
                {% endfor %}
              </p>
                  
            </div>

            <div className="CourseName">
              
              <p><strong>Course Overview :</strong> {{ courseSummary }}</p>     
            </div>

            <div className="CourseTutors">
              <p><strong> Tutors : </strong>
                {% for tutors in courseTutors.all %}
                  
                  <li><a href="/tutorPage/{{tutors}}/{{tutors.tutorID}}">{{ tutors }} </a>
                    <div className="EmailAddress">
                      <p>Email Address : {{ tutors.tutorEmailAddress }}</p>
                    </div>
                  </li>
              
                {% endfor %}
              </p>     
            </div>


            <div className="CourseComments">
              <p><strong>Course Comments : </strong>
                {% for comments in allComments %}
                  
                <li>Professors's Name : {{ comments.professorN }}
                  <br>
                  Comment : {{ comments.courseComment }}
                  <br>
                  Will you take this course with this professor again?  {{ comments.professorRating}}
                  <br>
                  Commenter's Name : {{ comments.commenterName }}
                </li>
                <br>
              
                {% endfor %}
              </p>     
            </div>

            

            <div className="AddComments">
              {% if submitted %}
                <p>Your comment was submitted!</p>
              {% else %}

                <form action="" method="POST">
                  {% csrf_token %}

                  <strong>Leave a comment! </strong>


                  
                  <br>
                  <p>Professor : <select type="text" name="ProfName" required>
                    {% for prof in courseProfessors.all %}
                  
                      <option value="{{prof}}">{{prof.profName}}</option>
              
                    {% endfor %}
                  </select>
                  <br>
                  <p>Course Comments : <input type="text" name="Comment" required>
                  <br>
                  <p>Will you take this course with this professor again? : <input type="text" name="ProfRating" required>
                  <br> 
                  <p>Commenter's Name : <input type="text" name="CommenterName" required>
                  <br>
                  <input type="submit" value="Submit" class="btn btn-secondary">
                </form>
              {% endif %}
          


            </div>

            <div className="BackToSeachPage"><a href="/searchPage"> Search another course?</a></div>
            


          
          
      </div>
  
    </div>

{% endblock %}
