{% extends 'studenthub\base.html' %}
{% block content %}
    <div className="Page">  
     
  
      <div className="tutorPage">
        <p> Hi! My name is <strong>{{courseTutors.tutorName}}</strong> and welcome to my page </p>

        <div className="Id">
          <p>My official ID is <strong>{{courseTutors.tutorID}}</strong> </p>
              
        </div>

        <div className="Contact">
          <p>You can either reach me at my official email <strong>{{courseTutors.tutorEmailAddress}}</strong> 
          or my cell number <strong>{{courseTutors.tutorPhoneNumber}}</strong> </p>
              
        </div>

        <div className="About">
          <p> <strong>Well lets get to know me a little bit more!</strong></p>
          <p>{{courseTutors.tutorAbout}}</p> 
              
        </div>
  
    </div>

{% endblock %}
